/* @import './base.css'; */

#app {
    max-width: 95%;
    margin: 0 auto;
    /* padding: 2rem; */
    font-weight: normal;
    /* background-color: rgb(169, 222, 169); */
    /* display: flex; */
}

body {
    /* align-items: right; */
    /* display: flex; */
    background-color: rgb(134, 185, 221);
}